<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My food</title>
</head>
<body>
<ul>
    {{range .}}
    <li>{{.Place}} - {{.Food}}</li>
    {{end}}
</ul>
</body>
</html>
